.card{:style => "width: 18rem;"}
  %img.card-img-top
  = image_tag('laptop-4906312_640.jpg')
  .card-body
    %h5.card-title
      %strong Title:
      = @course.title
    %p.card-text
      %strong Description:
      = @course.description
    %br
    = link_to 'Edit', edit_course_path(@course), class: 'btn btn-success' 
    = link_to 'Back', courses_path, class: 'btn btn-primary'
